@import "tailwindcss";

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    
}
.stopwatch{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:  1px solid;
    border-radius: 50px;
    padding: 30px;
    width:fit-content;
}

.display{
    font-family: monospace;
    font-size: 5rem;
    font-weight: bold;
    color: hsl(0, 0%, 30%);
    text-align: center;
    margin-bottom: 25px;
}

.controls button{
    font-size: 3rem;
    font-family: monospace;
    color: white;
    font-weight: bold;
    transition: backgrouncolor 0.5s ease;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
}

.start{
    background-color: hsl(115, 100%, 40%);
    
}

.start:hover{
    background-color: hsl(115, 90%, 35%);
}

.stop{
    background-color: hsl(10, 100%, 50%);
}

.stop:hover{
    background-color: hsl(10, 90%, 40%);
}

.reset{
    background-color: hsl(237, 100%, 50%);
}

.reset:hover{
    background-color: hsl(237, 90%, 35%);
}

.record{
    background-color: hsl(249, 100%, 67%);
}

.record:hover{
    background-color: hsl(249, 80%, 50%);
}

.recordTime{
    display: flex;
    justify-items: center;
    font-size: 2rem;
    font-family: monospace;
    font-weight: bold;
    flex-direction: column;
}

.records{
    display: flex;
    justify-content: center;
    border: solid 1px;
    border-radius: 10px;
    color: black;
    background-color: rgb(22, 248, 14);
    padding: 10px 20px;
    margin: 15px;
    width: 100%;
}